.DS_Store

# Xcode user data
**.pbxuser
**.mode?v?
**.perspectivev?
**.xccheckout
**.xcscmblueprint
xcuserdata
build

# Docs
docs

# Swift Package Manager
#
# Add this line if you want to avoid checking in source code from Swift Package Manager dependencies.
Packages/
Package.pins
Package.resolved

.build/
